<footer>
  <div class="footer-animate">
    <ul class="footer-left-bar d-none d-md-block">
      <li class="animate-item">
        <a
          (click)="analyticsApi.sendAnalyticEvent('click_github', 'footer', 'github')"
          href="https://github.com/ZielGit"
          target="_blank"
        >
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="animate-item">
        <a
          (click)="analyticsApi.sendAnalyticEvent('click_linkedin', 'footer', 'github')"
          href="https://www.linkedin.com/in/frans-vilcahuaman/"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
    <div class="footer-right-bar d-none d-md-block">
      <a
        class="animate-item"
        (click)="analyticsApi.sendAnalyticEvent('click_send_mail', 'footer', 'email')"
        href="mailto:frans_421_12@hotmail.com"
        target="_blank"
        >frans_421_12&#64;hotmail.com
      </a>
    </div>
  </div>

  <div class="footer-credits text-center">
    <a
      (click)="analyticsApi.sendAnalyticEvent('click_github_portfolio_andresjose', 'footer', 'click')"
      href="https://github.com/ZielGit/portfolio-angular"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <div>Built with Angular by Frans Vilcahuamán</div>
    </a>
  </div>
</footer>
