@use 'variables' as *;

.banner-animate {
  .animate-item {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInFromLeft 250ms cubic-bezier(0.35, 0, 0.25, 1) forwards;

    &:nth-child(1) {
      animation-delay: 0ms;
    }

    &:nth-child(2) {
      animation-delay: 50ms;
    }

    &:nth-child(3) {
      animation-delay: 100ms;
    }
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.banner {
  min-height: 100vh;

  .container {
    display: table;
    height: 100vh;

    .section-box-banner {
      display: table-cell;
      vertical-align: middle;

      .content {
        margin-top: 98px;
      }

      h1 {
        color: #64ffda;
        margin: 0 0 20px 3px;
        font-size: 16px;
        font-weight: normal;
        font-family: $CodeFont;
      }

      h2,
      h3 {
        font-weight: 600;
        font-size: 80px;
        line-height: 1.1;
        margin: 0;
        font-family: $MainFont;
      }

      h2 {
        color: $LightestSlate;
      }
      h3 {
        color: $Slate;
      }

      .banner-description {
        margin-bottom: 70px;
      }

      p {
        max-width: 700px;
      }

      .div-btn-banner {
        height: 43px;
      }
    }
  }
}
