<section class="section proyects" id="proyects">
  <div class="container">
    <div class="section-box">
      <div data-aos="fade-up" data-aos-duration="1000">
        <h3 class="section-title">
          <span class="n-section-title">03.</span> {{ 'projects.featuredProjects' | translate }}
        </h3>
      </div>

      @for (project of featuredProjects(); track project.id; let i = $index) {
      <div class="d-flex proyect-container" data-aos="fade-up" data-aos-duration="1000">
        @if (i % 2 === 0) {
        <owl-carousel-o class="owl-carousel-o" [options]="customOptions">
          @for (img of project.images; track img; let j = $index) {
          <ng-template carouselSlide [id]="project.id + '-slide-' + j">
            <div class="img-container">
              <img class="img-feature-proyect rounded" [src]="img" [alt]="project.titleKey | translate" />
            </div>
          </ng-template>
          }
        </owl-carousel-o>
        <div class="img-feature-proyect-container" data-aos="fade-up" data-aos-duration="1000">
          <div class="img-feature-proyect-box">
            <div class="img-container" style="width: auto">
              <img
                class="img-feature-proyect rounded"
                [src]="project.images[0]"
                [alt]="project.titleKey | translate"
                width="600px"
              />
            </div>
          </div>
        </div>
        }
        <div
          [class.proyect-info-right]="i % 2 === 0"
          [class.proyect-info-left]="i % 2 !== 0"
          class="h-100"
          style="background-image: url('{{project.images[0]}}');"
        >
          <div class="proyect-box">
            <h5 [class.text-right]="i % 2 === 0" [class.text-left]="i % 2 !== 0" class="proyect-name">
              {{ project.titleKey | translate }}
            </h5>
            <div class="proyect-description-box">
              <p class="mb-0" [innerHTML]="project.descriptionKey | translate"></p>
            </div>
            <ul
              [class.justify-content-end]="i % 2 === 0"
              [class.justify-content-start]="i % 2 !== 0"
              class="proyect-skills"
            >
              @for (technology of project.technologies; track technology) {
              <li class="ml-3">
                <span class="underline technology">{{ technology }}</span>
              </li>
              }
            </ul>
            <div [class.text-right]="i % 2 === 0" [class.text-left]="i % 2 !== 0" class="proyect-links">
              @if (project.githubUrl) {
              <a style="color: inherit" [href]="project.githubUrl" target="_blank"
                ><i class="ml-3 fab fa-github"></i
              ></a>
              } @if (project.demoUrl) {
              <a style="color: inherit" [href]="project.demoUrl" target="_blank"
                ><i class="ml-3 fas fa-external-link-alt"></i
              ></a>
              }
            </div>
          </div>
        </div>
        @if (i % 2 !== 0) {
        <owl-carousel-o class="owl-carousel-o" [options]="customOptions">
          @for (img of project.images; track img; let j = $index) {
          <ng-template carouselSlide [id]="project.id + '-slide-' + j">
            <div class="img-container">
              <img class="img-feature-proyect rounded" [src]="img" [alt]="project.titleKey | translate" />
            </div>
          </ng-template>
          }
        </owl-carousel-o>
        <div class="img-feature-proyect-container" data-aos="fade-up" data-aos-duration="1000">
          <div class="img-feature-proyect-box">
            <div class="img-container" style="width: auto">
              <img
                class="img-feature-proyect rounded"
                [src]="project.images[0]"
                [alt]="project.titleKey | translate"
                width="600px"
              />
            </div>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</section>
